{% extends '../edit_entity_template.html' %}
<!-- Body -->
{% block body %}
<div>
  {% if success %}
  <h2>تم تعديل معلومات الموضوع بنجاح</h2>
  <div class="confirmation-link-holder">
    <h2>
      للرجوع إلى القائمة السابقة إضغط
      <a
        href="{% url 'get_topics?course_id=&&course_name=' topic.course.id topic.course.name %}"
        >هنا</a
      >
    </h2>
  </div>
  {% else %}
  <div class="form_container">
    <form action="{% url request_handler id %}" method="post">
      <h2>تعديل معلومات الموضوع</h2>
      {% csrf_token %} {{ form.as_p }}
      <div class="buttons-holder">
        <button type="submit" class="update-submit">تعديل</button>
        <a
          href="{% url 'get_topics?course_id=&&course_name=' topic.course.id topic.course.name %}"
          class="cancel-action"
          >إلغاء</a
        >
        <button type="reset" class="reset-action">مسح</button>
      </div>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
