html {
  direction: rtl;
}
body {
  padding: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-size: 15px; */
  color: color;
  background-image: url("../image/app-bg-image-sub.jpeg");
}

.logo-header {
  display: flex;
  justify-content: center;
}
.logo-header img {
  width: 150px;
  height: 150px;
}

h2 {
  color: black;
  text-align: center;
}

.form_container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-image: linear-gradient(to bottom right, #6ccce4e6, #a0f9bdc4);
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
form {
  position: relative;
  margin: 10px auto;
}
form hr {
  background-color: black;
  height: 1px;
}
form h2 {
  color: black;
  text-align: center;
}
/* Style generated django form */
form p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
form p input,
form p select {
  width: 70%;
  padding: 0.4em;
  font-size: 20px;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
form p select {
  width: 72.5%;
}
form p label {
  color: black;
  font-weight: bold;
}
