{% extends '../edit_entity_template.html' %}
<!-- Body -->
{% block body %}
<div>
  {% if success %}
  <h2>تم تعديل معلومات المدرّب بنجاح</h2>
  <div class="confirmation-link-holder">
    <h2>
      للرجوع إلى القائمة السابقة إضغط
      <a href="{% url 'get_users' %}">هنا</a>
    </h2>
  </div>
  {% else %}
  <div class="form_container">
    <form action="{% url request_handler id %}" method="post">
      <h2>تعديل معلومات المدرّب</h2>
      {% csrf_token %} {{ form.as_p }}
      <!-- -->

      <!-- Experiences -->
      {% include './experiences_form.html' %}
      <!-- Scientific Degrees -->
      {% include './sci_degrees_form.html' %}
      <!-- Certificates -->
      {% include './certificates_form.html' %}
      <!-- Training Courses -->
      {% include './training_courses_form.html' %}
      <div class="buttons-holder">
        <button type="submit" class="update-submit">تعديل</button>
        <a href="{% url 'get_users' %}" class="cancel-action">إلغاء</a>
        <button type="reset" class="reset-action">مسح</button>
      </div>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
