{% load static %}
<!-- CSS styles exist in "css/head.css" -->
<div class="head-container">
  <div>
    <!-- <img
      src="{% static 'image/black-title.png' %}"
      alt=""
      height="180"
      width="180"
    /> -->
    <div style="color: black; text-align: center">
      نظام إدارة الدورات
      <br />
      المؤسسة التعليمية
      <br />
      الجهاز التدريبي
    </div>
  </div>

  <div class="space"></div>
  <div>
    <img src="{% static 'image/logo.png' %}" alt="" height="200" width="200" />
  </div>
</div>
